@font-face {
  font-family: "iconfont"; /* Project id 2950570 */
  src: url('//at.alicdn.com/t/font_2950570_u97n3wclk39.woff2?t=1638430191473') format('woff2'),
       url('//at.alicdn.com/t/font_2950570_u97n3wclk39.woff?t=1638430191473') format('woff'),
       url('//at.alicdn.com/t/font_2950570_u97n3wclk39.ttf?t=1638430191473') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanzhong:before {
  content: "\e626";
}

.icon-sousuotianchong:before {
  content: "\e694";
}
